@charset "utf-8";

@import "compass/css3/",
"setting",
"compass/support",
"extension",
"default";

/* ==========================================================================
   Common Style
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
	color: $textColor;
    line-height: 1.6;
}
p {
    margin: 0 0 2em;
}
ul {
    padding: 0;
}
a:link,
a:visited {
    color: $linkColor;
    text-decoration: none;
}
a:hover,
a:active {
    color: $linkColor_hover;
    text-decoration: underline;
}
a:hover img {
    @include opacity(0.6);
}
.noHover a:hover img {
    @include opacity(1);
}
.colorA {
    color: $colorA;
}
/* ==========================================================================
   Layout
   ========================================================================== */
   
   
/* ==========================================================================
   header
   ========================================================================== */
.gheader {
}
/* ==========================================================================
   footer
   ========================================================================== */
.gfooter {
}

/* ==========================================================================
   contents
   ========================================================================== */
.contents {
}


/* ==========================================================================
   module Style
   ========================================================================== */
/*----------------------------------------
	mod_xxx
----------------------------------------*/


/* ==========================================================================
   parts Style
   ========================================================================== */
/*----------------------------------------
	btn
----------------------------------------*/
.btn {
    @include inline-block;
    width: 280px;
    padding: 12px 0;
    background-color: #0752c2;
    font-family: $fontFamily;
    @include fz(12);
    line-height: 1;
    text-align: center;
    color: #fff;
    cursor: pointer;
    
    &:link,
    &:visited {
        color: #fff;
    }
    &:hover,
    &:active {
        @include opacity(.6);
        color: #fff;
        text-decoration: none;
    }
}

/*----------------------------------------
	title
----------------------------------------*/
